## Requirements:

>  Python 3.6.4

>  numpy 1.14.0

>  scipy 1.0.0

>  pandas 0.22.0

# Python and algorithms

##### Ð¡omplete this part of test without using any libs (your code must not contain keyword 'import')

#### 1. Implement function str_to_dict(some_str) which returnes dictionary, where keys are string characters, and values are their quantity in the string:

<div style="text-align: right">DRP reward: 2</div>

In [11]:
def str_to_dict(some_str):  
    result_dict = {}
    for i in range(len(some_str)):
        if some_str[i] in result_dict:
            result_dict[some_str[i]] += 1
        else:
            result_dict[some_str[i]] = 1
    
    return result_dict

In [12]:
print('Str to dict:', str_to_dict('dataroot_university'))

('Str to dict:', {'a': 2, 'e': 1, 'd': 1, 'i': 2, 'o': 2, 'n': 1, 's': 1, 'r': 2, 'u': 1, 't': 3, 'v': 1, 'y': 1, '_': 1})

Expected Output: 
<table>
  <tr>
    <td>Str to dict:</td>
    <td> {'d': 1, 'a': 2, 't': 3, 'r': 2, 'o': 2, '_': 1, 'u': 1, 'n': 1, 'i': 2, 'v': 1, 'e': 1, 's': 1, 'y': 1} </td> 
  </tr>

#### 2. Implement function sec_smallest(numbers) which returns second smallest item in the list, without using the built-in sorting methods (your code mustn't contain such words as 'sort', 'sorted'):

<div style="text-align: right">DRP reward: 2

In [13]:
def sec_smallest(numbers):
    for i in range(len(numbers)):
        for j in range(i + 1, len(numbers)):
            if numbers[i] > numbers[j]:
                temp = numbers[i]
                numbers[i] = numbers[j]
                numbers[j] = temp
                
    for i in range(1, len(numbers)):
        if numbers[i] != numbers[i - 1]:
            return numbers[i]

In [14]:
print('Sec_smallest:', sec_smallest([1, 2, -8, -8, -2, 0]))

('Sec_smallest:', -2)

Expected Output: 
<table>
  <tr>
    <td>Sec_smallest:</td>
    <td> -2 </td> 
  </tr>

#### 3. Implement function prime_nums(n) that returns list of numbers which  are simple and < n:

<div style="text-align: right">DRP reward: 2</div>

In [19]:
def prime_nums(n):
    result_list = []
    is_prime = True
    
    for i in range(2, n):
        for j in range(1, i - 1):
            if i % j == 0 and j != 1:
                is_prime = False
                break
            else:
                is_prime = True
        
        if is_prime:
            result_list.append(i)
    
    return result_list

In [20]:
print('Prime numbers:', prime_nums(30))

('Prime numbers:', [2, 3, 5, 7, 11, 13, 17, 19, 23, 29])

Expected Output:
<table>
  <tr>
    <td>Prime numbers:</td>
    <td>[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]</td>
  </tr>

#### 4. Implement class Conv, that contains method to_roman(self, n), which converts decimal numbers to Roman numerals:

<div style="text-align: right">DRP reward: 2</div>

In [30]:
class Conv:
    def to_roman(self, num):    
        val = [
            1000, 900, 500, 400,
            100, 90, 50, 40,
            10, 9, 5, 4, 1
        ]

        syb = [
            'M', 'CM', 'D', 'CD',
            'C', 'XC', 'L', 'XL',
            'X', 'IX', 'V', 'IV',
            'I'
        ]
        
        if num == 0:
            return 'zero'
        
        rank = {}
        input_str = str(num)
        for i in range(len(input_str)):
            rank[len(input_str) - i] = int(input_str[i])
        
        result_str = ''
        for i in range(len(input_str), 0, -1):
            cur_digit = rank[i] * 10 ** (i - 1)
            if (rank[i] > 5 and rank[i] < 9):
                additional_digit = rank[i] - 5
                for k in range(len(val)):
                    if 5 * 10 ** (i - 1) == val[k]:
                        result_str += syb[k]
                        for m in range(len(val)):
                            if 1 * 10 ** (i - 1) == val[m]:
                                for j in range(additional_digit):
                                    result_str += syb[m]
                                break
                        break
            elif (rank[i] > 1 and rank[i] < 4):
                for k in range(len(val)):
                    if 10 ** (i - 1) == val[k]:
                        for j in range(rank[i]):
                            result_str += syb[k]
                        break
                        
            for k in range(len(val)):
                if cur_digit == val[k]:
                    result_str += syb[k]
                    break
            
        return result_str

In [33]:
print('Converted:', Conv().to_roman(44))

('Converted:', 'XLIV')

Expected Output:
<table>
  <tr>
    <td>Converted:</td>
    <td>XLIV</td> 
  </tr>

#### 5. Implement class MyList, that contains method get_combinations(self, my_list), which returns all combinations of elements of given list, including empty element and in order, law of which can be discrovered from the expected output:
<div style="text-align: right">DRP reward: 2</div>

In [0]:
class MyList:
     def get_combinations(self, my_list):
        result_list = [[]]
        for i in range(1, len(my_list)):
            temp_list = []
            m = 0
            while len(temp_list) < i:
                for k in range(len(my_list)):

In [0]:
print('Combinations:', MyList().get_combinations([1, 2, 'a']))

Expected Output:
<table>
  <tr>
    <td>Combinations:</td>
    <td>[[], [1], [2], ['a'], [1, 2], [1, 'a'], [2, 'a'], [1, 2, 'a']]</td> 
  </tr>

# Libraries: numpy, scipy, pandas

## Numpy

In [1]:
import numpy as np

#### 6. Implement function func() which completes following task: the average weight of car is `m` kg, with a standard deviation of `s` kg. What part of all cars would you expect to have weight more than `k` kg (probability must be < 1)?
<div style="text-align: right">DRP reward: 2</div>

In [53]:
def func(m, s, k):
    n = 10000
    nom = 0
    
    
    points = np.random.normal(m, s, n)
    for i in range(n):
        if points[i] > k:
            nom += 1
    return float(nom) / n

In [55]:
print('Result:', func(25, 3, 27))

('Result:', 0.2499)

Expected Output:
<table>
  <tr>
    <td>Result:</td>
    <td>~0.25</td> 
  </tr>

#### 7. Implement function add_mean_and_calc_det(matrix), which adds to each element in the matrix row the mean of this row and returns the determinant(np.linalg.det) of the resulting matrix.

<div style="text-align: right">DRP reward: 2</div>

In [0]:
def add_mean_and_calc_det(matrix):
    """
    :matrix: numpy.ndarray[list[list[int]]]
    :return: numpy.float64
    """
    for i in range()

In [0]:
print('Result:', add_mean_and_calc_det(np.array([[5, 3, 4], [7, 9, 8], [6, 7, 8]])))

Expected Output: 
<table>
  <tr>
    <td>Result:</td>
    <td> 72 </td> 
  </tr>

#### 8. Implement function nearest_to_scalar(matrix, n), which returns the closest to n number in the matrix.
  
<div style="text-align: right">DRP reward: 2</div>

In [5]:
import numpy as np
def nearest_to_scalar(matrix, n):
    k, m = matrix.shape
    min = matrix[0, 0]
    
    for i in range(k):
        for j in range(m):
            if abs(matrix[i, j] - n) < abs(min - n):
                min = matrix[i, j]
    return min

In [6]:
print('Nearest:', nearest_to_scalar(np.array([[5, 3, 4], [7, 9, 8], [6, 7, 8]]), 11))

('Nearest:', 9)

Expected Output:
<table>
  <tr>
    <td>Nearest:</td>
    <td> 9 </td> 
  </tr>

#### 9. Implement function svd_ranks(Z) which performs SVD of given matrix and returns a list of ranks of matrices U, S and V.
<div style="text-align: right">DRP reward: 2</div>

In [7]:
def svd_ranks(Z): 
    u, s, v = np.linalg.svd(Z)
    return np.linalg.matrix_rank(u), np.linalg.matrix_rank(s), np.linalg.matrix_rank(v)

In [8]:
print('Svd ranks:',svd_ranks(np.arange(9).reshape((3,3))))

('Svd ranks:', (3, 1, 3))

Expected Output: 
<table>
  <tr>
    <td>Svd ranks:</td>
    <td> [3, 2, 3] </td> 
  </tr>

#### 10. Implement function dft(x) which computes the discrete Fourier Transform of the 1D array x, without using numpy function np.fft.fft().
<div style="text-align: right">DRP reward: 2</div>

In [9]:
def dft(x):
    n = len(x)
    result = np.zeros(n, dtype=complex)
    
    for i in range(n):
        for j in range(n):
            result[i] += x[j] * np.exp(- 1j * 2 * i * j * np.pi / n)
            
    return result

In [10]:
np.random.seed(42)
print('Result:', dft(np.random.random(5)))

('Result:', array([ 2.81192549+0.j        , -0.35998102-0.83417311j,
       -0.10963143-0.34030084j, -0.10963143+0.34030084j,
       -0.35998102+0.83417311j]))

Expected Output: 
<table>
  <tr>
    <td>Result:</td>
    <td> [ 2.81192549+0.j         -0.35998102-0.83417311j -0.10963143-0.34030084j
 -0.10963143+0.34030084j -0.35998102+0.83417311j]

## Pandas

In [11]:
import pandas as pd

#### 11. Consider the following dictionary "data" and list "labels":

In [12]:
data = {'animal': ['cat', 'cat', 'dog', 'dog', 'cat', 'cat', 'dog', 'cat', 'dog', 'dog'],
        'age': [2.5, 1, 0.5, np.nan, 5, 2, 3.5, np.nan, 7, 3],
        'weight': [1, 3, 6, 8, 4, 3, 10, 2, 7, 3],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

** 11.1 Implement function repl_nan(data, labels) which creates a dataframe from dictionary  "data" with indexes from the list "labels", replaces the values "nan" in the age field by the mean age depending on the animal's type and returns a new dataframe.**
<div style="text-align: right">DRP reward: 2</div>

In [13]:
def repl_nan(data, labels):
    data_frame = pd.DataFrame(data)
    
    cat, dog = data_frame.groupby(['animal']).mean()['age']
    
    for i in range(data_frame.shape[0]):
        if np.isnan(data_frame.loc[i, 'age']) and data_frame.loc[i, 'animal'] == 'cat':
            data_frame.loc[i, 'age'] = cat
        elif np.isnan(data_frame.loc[i, 'age']) and data_frame.loc[i, 'animal'] == 'dog':
            data_frame.loc[i, 'age'] = dog
            
    for i in range(data_frame.shape[0]):
        data_frame.rename(index={i : labels[i]}, inplace=True)
    return data_frame

In [14]:
repl_nan(data, labels)

     age animal priority  weight
a  2.500    cat      yes       1
b  1.000    cat      yes       3
c  0.500    dog       no       6
d  3.500    dog      yes       8
e  5.000    cat       no       4
f  2.000    cat       no       3
g  3.500    dog       no      10
h  2.625    cat      yes       2
i  7.000    dog       no       7
j  3.000    dog       no       3

Expected Output: 

|  | age | animal                    | priority | weight       | 
|----|-------------------------|----------|------------|------------------------------------------------|--------------------------------------------------------|--------------|-----------------------|
| **a**  | 2.500 | cat      | yes | 1|
| **b** | 1.000  | cat      | yes | 3|
| **c** | 0.500  | dog      | no | 6|
| **d** | 3.500  | dog      | yes | 8|
| **e** | 5.000  | cat      | no | 4|
| **f** | 2.000  | cat      | no | 3|
| **g** | 3.500  | dog      | no | 10|
| **h** | 2.625  | cat      | yes | 2|
| **i** | 7.000  | dog      | no |7|
| **j** | 3.000  | dog      | no | 3|

#### 11.2 Implement function weight_to_type(data, labels) which creates a dataframe from dictionary "data" with indexes from the list "labels", calculates average weight of each animal type and returns dictionary with these values, where keys are animal types and values are animal weights.
<div style="text-align: right">DRP reward: 2</div>

In [46]:
def weight_to_type(data, labels):
    data_frame = pd.DataFrame(data)
    
    for i in range(data_frame.shape[0]):
        data_frame.rename(index={i : labels[i]}, inplace=True)
        
    cat, dog = data_frame.groupby(['animal']).mean()['weight']
    
    result_dict = {'cat': cat, 'dog': dog}
        
    return result_dict

In [47]:
print('weight_to_type', weight_to_type(data, labels))

('weight_to_type', {'dog': 6.8, 'cat': 2.6})

Expected Output: 
<table>
  <tr>
    <td>weight_to_type:</td>
    <td> {'cat': 2.6, 'dog': 6.8} </td> 
  </tr>

#### 11.3  Implement function kittens(data, labels) which creates a dataframe from dictionary "data" with indexes from the list "labels" and returns dataframe with data about cats with age < 3.
<div style="text-align: right">DRP reward: 2</div>

In [68]:
def kittens(data, labels):    
    data_frame = pd.DataFrame(data)
    
    for i in range(data_frame.shape[0]):
        data_frame.rename(index={i : labels[i]}, inplace=True)
        if np.isnan(data_frame.loc[labels[i], 'age']) or data_frame.loc[labels[i], 'animal'] == 'dog' or data_frame.loc[labels[i], 'age'] >= 3:
            data_frame.drop(index=labels[i], inplace=True)
        
    return data_frame

In [69]:
kittens(data, labels)

   age animal priority  weight
a  2.5    cat      yes       1
b  1.0    cat      yes       3
f  2.0    cat       no       3

Expected Output: 

|  | age | animal                    | priority | weight       | 
|----|-------------------------|----------|------------|------------------------------------------------|--------------------------------------------------------|--------------|-----------------------|
| **a** | 2.5  | cat      | yes | 1|
| **b** | 1.0  | cat      | yes | 3|
| **f** | 2.0  | cat      | no | 3|

#### 11.4  Implement function sorted_df(data, labels) which creates a dataframe from dictionary "data" with indexes from the list "labels" which returns dataframe sorted  firstly by age in a decreasing order, secondly, for the number of weight in ascending order.
<div style="text-align: right">DRP reward: 2</div>

In [72]:
def sorted_df(data, labels):
    data_frame = pd.DataFrame(data)
    
    data_frame.sort_values(['age', 'weight'], ascending=[False, True], inplace=True)
        
    return data_frame

In [73]:
sorted_df(data, labels)

   age animal priority  weight
8  7.0    dog       no       7
4  5.0    cat       no       4
6  3.5    dog       no      10
9  3.0    dog       no       3
0  2.5    cat      yes       1
5  2.0    cat       no       3
1  1.0    cat      yes       3
2  0.5    dog       no       6
7  NaN    cat      yes       2
3  NaN    dog      yes       8

Expected Output: 

|  | age | animal                    | priority | weight       | 
|----|-------------------------|----------|------------|------------------------------------------------|--------------------------------------------------------|--------------|-----------------------|
| **i** | 7.0  | dog      | no |7|
| **e** | 5.0  | cat      | no | 4|
| **g** | 3.5  | dog      | no | 10|
| **j** | 3.0  | dog      | no | 3|
| **a**  | 2.5 | cat      | yes | 1|
| **f** | 2.0  | cat      | no | 3|
| **b** | 1.0  | cat      | yes | 3|
| **c** | 0.5  | dog      | no | 6|
| **h** | NaN  | cat      | yes | 2|
| **d** | NaN  | dog      | yes | 8|

## Scipy

In [0]:
import scipy

#### 12. The equation of motion for the damped oscillator is:



<div style="text-align: center">$\frac{d^{2}x}{dt^2}+2\zeta \omega _{0}\frac{dx}{dt}+\omega_ {0}^{2}x = 0$</div>

where $x$ is the position of the oscillator, $\omega_0$ is the frequency, and $\zeta$ is the damping ratio.

To write this second-order ODE on standard form we introduce $p$ = dx/dt:

<div style="text-align: center">$\frac{dp}{dt} = -2\zeta \omega _{0}p - \omega_ {0}^{2}x$</div>

<div style="text-align: center">$\frac{dx}{dt} = p$</div>

Implement function undamped() which solves the ODE for undamped oscillation.
<div style="text-align: right">DRP reward: 2</div>
Return vector of y coordinates, depending on time t.

In [0]:
def undamped(y0, t):
    '''
    :param y0: list, initial state 
    :param t: array, time coodinate to solve the ODE for
    :return: numpy.ndarray of shape (10, )
    '''
    # frequency:
    w0 = 2.0 * np.pi
    # YOUR CODE HERE

In [0]:
y0 = [2.0, 0.0] 
t = np.linspace(0, 5, 5)

print(undamped(y0, t))

Expected Output: 
<table>
  <tr>
    <td>undamped:</td>
    <td> [  2.00000000e+00   7.49489745e-08  -2.00000012e+00  -1.95362282e-07
   2.00000027e+00] </td> 
  </tr>